/* line 11, ../scss/style.scss */
body {
  background-image: url('/assets/images/grass_side.png?1363717667'), url('/assets/images/dirt.png?1363717666');
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
  margin: 80px auto;
  width: 960px;
  background-repeat: repeat-x, repeat;
  background-size: 800px 800px, 800px 800px 5;
}

/* line 25, ../scss/style.scss */
#video {
  padding: 40px;
  width: 880px;
  background-color: black;
}
